{
  "extends": [
    "airbnb",
    "plugin:ava/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "ava"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "rules": {
     "comma-dangle": [1, "always-multiline"],
     "no-underscore-dangle" : 0,
     "max-len": ["off"], #[1, 180, 4],
     "arrow-body-style": [0],
     "react/jsx-no-bind": [0],
     "import/no-unresolved": [0], # Until import plugin supports webpack 2 resolveModules
     "indent": ["off", "tab"],
     "react/jsx-indent": ["off", "tab"],
     "keyword-spacing": ["error", {
         "overrides": {
             "if": { "after": false },
             "for": { "after": false },
             "while": { "after": false },
             "switch": { "after": false }
         }
     }],
     "space-before-function-paren": ["error", "never"],
     "prefer-arrow-callback": ["warn"],
     "consistent-return": ["off"],
     "no-shadow": ["off"],
     "quote-props": ["off"],
     "no-param-reassign": ["warn"],
     "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
     "no-unused-vars": ["warn", { "args": "none" }],
     "no-use-before-define": ["error", { "functions": false }],
     "no-nested-ternary": ["warn"],
     "react/jsx-indent-props": ["off", "tab"],
     "newline-per-chained-call": ["off"],
     "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
     "object-curly-newline": ["off"],
     "react/jsx-fragments": ["off"],
     "arrow-parens": ["error", "as-needed"],
     "import/extensions": ["error", "never"],
     "react/destructuring-assignment": ["off"],
     "react/forbid-prop-types": ["off"],
     "padded-blocks": ["error", { "classes": "always", "switches": "always" }],
     "react/jsx-one-expression-per-line": ["off"]
     # "react/jsx-curly-newline": [1, { "consistent": true }],
     # "react/state-in-constructor": [1],
     # "react/static-property-placement": [1],
     # "react/jsx-props-no-spreading": [1]
  }
}
